* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}
