.help-balloon {
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid var(--color-border-default);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 2000;
    max-width: 300px;
    font-family: var(--font-sans);
    color: #333;
    font-size: 0.9em;
    pointer-events: auto;
}

