* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    font-family: var(--font-sans);
    background-color: var(--color-background-app);
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

body.layout-drag-resizing {
    user-select: none;
    cursor: col-resize;
}

code {
    font-family: var(--font-mono) !important;
    color: #2c3e50 !important;
    font-size: 0.95em !important;
    font-weight: 600 !important;
}

@media (max-width: 768px) {
    :root {
        --is-small-screen: 1;
    }
}
