* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100vh;
    font-family: var(--font-sans);
    background-color: var(--color-background-app);
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    :root {
        --is-small-screen: 1;
    }
}
